<h1>Editing expense type</h1>

<%= render "form", expense: @expense_type %>

<br>

<div>
  <%= link_to "Show this expense", @expense_type %> |
  <%= link_to "Back to expenses", expense_types_path %>
</div>